apiVersion: v1
kind: Service
metadata:
  name: kuard
  labels:
    name: kuard
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  selector:
    app: kuard
